<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width,initial-scale=1.0"
		/>
		<link rel="icon" href="<%= BASE_URL %>favicon.ico" />
		<title><%= htmlWebpackPlugin.options.title %></title>
		<link
			type="text/css"
			rel="stylesheet"
			href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"
		/>
		<link
			type="text/css"
			rel="stylesheet"
			href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"
		/>

		<!-- Load polyfills to support older browsers -->
		<script
			src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
			crossorigin="anonymous"
		></script>

		<!-- Load Vue followed by BootstrapVue -->
		<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

		<!-- Load the following for BootstrapVueIcons support -->
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>
	</head>
	<body>
		<noscript>
			<strong
				>We're sorry but <%= htmlWebpackPlugin.options.title %>
				doesn't work properly without JavaScript enabled. Please
				enable it to continue.</strong
			>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
