// This component is responsible for displaying the current question, and its options.
// It gets the next question from vuex store method "getNextQuestion()"
// It shuffles the possible answers so the correct answer
// is placed randomly amongst the incorrect answers. 
// The component listens to changes in Vuex store "answers" variable. 
// If it detects a change, it is time to either move to next question via routing, 
// or go to the results page (also via routing)
<template>
    <main>
        <div class="row title" align="center">
            <h1><span v-html="question.question"></span></h1>
        </div>
        <div class="centered-line"></div>
        <div class="answers">
            <Option
                v-for="answer of answers"
                :key="answer"
                :answer="answer"
                :correct="answer === question.correct_answer"
            />
        </div>
    </main>
</template>

<script>
import Option from "./Option.vue";
import { mapGetters, mapMutations } from "vuex";
export default {
    name: "QuestionScreen",
    components: {
        Option,
    },
    computed: {
        ...mapGetters({ answersState: "getAnswers" }),
    },
    created() {
        this.question = this.getNextQuestion();
        this.fillAnswers();
    },
    mounted() {
        if (!this.question) {
            this.$router.push("/");
        }
    },
    data() {
        return {
            question: "",
            answers: [],
        };
    },
    methods: {
        ...mapGetters(["getNextQuestion", "getNextQuestionIndex"]),
        ...mapMutations(["updateNextQuestionIndex", "updateScore"]),
        fillAnswers() {
            this.answers = [];
            for (let answer of this.question.incorrect_answers) {
                this.answers.push(answer);
            }
            this.answers.push(this.question.correct_answer);
            this.shuffleAnswers();
        },
        shuffleAnswers() {
            for (var i = this.answers.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = this.answers[i];
                this.answers[i] = this.answers[j];
                this.answers[j] = temp;
            }
        },
    },
    watch: {
        answersState() {
            this.updateNextQuestionIndex();
            let nextQuestionIndex = this.getNextQuestionIndex();
            console.log(nextQuestionIndex);
            if (!nextQuestionIndex) {
                console.log("QUIZ FINISHED");
                this.updateScore();
                this.$router.push("/score-page");
            } else {
                this.question = this.getNextQuestion();
                this.fillAnswers();
                this.$router.push(`/question/${nextQuestionIndex}`);
            }
        },
    },
};
</script>

<style scoped>
.title {
    margin: 0 1.5rem 0 1.5rem;
}

.answers {
    margin: 10% 1.5rem 0 1.5rem;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, minmax(260px, 1fr));
}
</style>
