// This component displays the questions, 
// calculates result and displays what the user has answered, 
// and what the correct answer was.
// Depending on whether the user wants a replay, or a new game, 
// the vuex store's state is either partially reset, or reset in full.

<template>
    <main>
        <div class="row">
            <h1 class="title">Result:</h1>
        </div>
        <div class="row">
            <h4 class="title">
                {{ `${correctAnswers} / ${questions.length}` }}
            </h4>
            <h4 class="title">Score: {{ score }}</h4>
        </div>
        <div class="row" v-for="(question, index) of questions" :key="index">
            <p class="title">
                <span v-html="question.question"></span>
            </p>
            <p class="title">
                correct answer: <span v-html="question.correct_answer"></span>
            </p>
            <p
                v-if="answers[index] === question.correct_answer"
                class="title correct"
            >
                your answer: <span v-html="answers[index]"></span>
            </p>
            <p v-else class="title incorrect">
                your answer: <span v-html="answers[index]"></span>
            </p>
        </div>
        <div class="row">
            <div class="col" align="center">
                <button class="btn btn-outline-dark" @click="replay">
                    Replay?
                </button>
            </div>
            <div class="col" align="center">
                <button class="btn btn-outline-dark" @click="startNewGame">
                    New Game
                </button>
            </div>
        </div>
    </main>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
    name: "ScoreScreen",
    data() {
        return {
            score: 0,
            questions: [],
            answers: [],
            correctAnswers: 0,
        };
    },
    created() {
        this.score = this.getScore();
        this.questions = this.getQuestions();
        this.answers = this.getAnswers();
        this.calculateCorrectAnswers();
    },
    mounted() {
        if (this.answers.length === 0) {
            console.log("ROUTING");
            this.$router.push("/");
        }
    },
    methods: {
        ...mapGetters(["getScore", "getQuestions", "getAnswers"]),
        ...mapActions([
            "clearState",
            "makeStateReadyForReplay",
            "updateQuestions",
        ]),
        calculateCorrectAnswers() {
            for (let i = 0; i < this.questions.length; i++) {
                if (this.questions[i].correct_answer === this.answers[i]) {
                    this.correctAnswers++;
                }
            }
        },
        startNewGame() {
            this.clearState();
            this.$router.push("/");
        },
        async replay() {
            await this.makeStateReadyForReplay();
            await this.updateQuestions();
            this.$router.push("/question/0");
        },
    },
};
</script>
<style>
.correct {
    color: rgb(0, 228, 0);
}
.incorrect {
    color: rgb(255, 56, 56);
}
</style>